#heading-1{
    color: brown;
}
#heading-2{
    background-color: bisque;
}
#heading-3{
    border-left: 2px solid red;
}
#p-1{
    color: green;
}
#p-2{
    border-bottom: 2px solid brown;
}
#p-3{
    border: 1px dashed black;
}
#p-4{
    background-color: blue;
}
#p-5{
    font-size: 25px;
}
button{
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}